nav {
  background-color: #F8F5EF;
}

nav img {
  height: 180px;
}

.link {
  position: relative;
  color: #3A2E27;
  text-decoration: none;
  font-size: 18px;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background: #C98A3D;
  transition: width 0.3s ease;
}

.link:hover {
  color: #C98A3D;
}

.link:hover::after {
  color: #C98A3D;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  text-align: center;
  list-style: none;
  width: 60%;
  margin: 0 auto;
}


