* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.05;

}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.15;
}

h3 {
    font-family: "Cormorant Garamond", serif;
    font-size: 32px;
    font-weight: 600;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #f8f5ef;
  color: #3a2e27;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
}

/* HERO SEKCIJA */

.hero-sekcija {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: center;
  padding: 100px;
}

.hero-content {
  text-align: center;
  margin: 0px auto;
  padding: 40px;
  width: 60%;
  background-color: #f8f5efdd;
  border-radius: 5px;
}

.hero-slika img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pogledajte-ponudu-dugme {
  background-color: transparent;
  border: 2px solid #3a2e27;
  color: #3a2e27;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px auto;
  padding: 12px 36px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pogledajte-ponudu-dugme:hover {
  background-image: linear-gradient(135deg, #8b5e34, #a66f3e, #c98a3d);
  transform: translateY(-2px);
  color: #f8f5ef;
  border-color: transparent;
}

/* KATEGORIJE SEKCIJA */

.kategorije-sekcija {
  background-color: #efe7db;
  padding: 50px 30px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  position: relative;
}

.kategorije-content {
  position: sticky;
  align-self: start;
  top: 50px;
  margin: 20px;
  max-width: 500px;
}

.kategorije-content p {
  margin-top: 50px;
  text-align: justify;
  text-justify: inter-word;
}

.sva-peciva-dugme {
  background-color: transparent;
  border: 2px solid #3a2e27;
  color: #3a2e27;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 12px 36px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.sva-peciva-dugme:hover {
  background-image: linear-gradient(135deg, #8b5e34, #a66f3e, #c98a3d);
  transform: translateY(-2px);
  color: #f8f5ef;
  border-color: transparent;
}

.kategorije-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
}

.kategorija {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
}

.kategorija img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.kategorija:hover img {
  transform: scale(1.05);
}

.kategorija-gradijent {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
  background-image: linear-gradient(
    to top,
    #3a2e27,
    #3a2e2795,
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
}

.srpski-naziv {
  position: absolute;
  bottom: 35px;
  left: 15px;
  right: 80px;
  color: #efe7db;
  text-align: left;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 200px;
  margin: 0;
  z-index: 2;
}

.srpski-naziv:hover {
  text-decoration: underline;
}

.francuski-naziv {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: "Cormorant Garamond", serif;
  color: #efe7dbc0;
  font-size: 32px;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  z-index: 2;
}

/* O NAMA SEKCIJA */

.o-nama-sekcija {
  background-color: #efe7db;
  padding: 50px 30px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  position: relative;
}

.o-nama-sekcija img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.o-nama-content {
  position: sticky;
  align-self: start;
  top: 50px;
  margin: 0px 30px;
}

.o-nama-content  h2 {
  margin-bottom: 50px;
}

.o-nama-content p {
  text-align: justify;
  text-justify: inter-word;
}

.saznaj-vise-dugme {
  background-color: transparent;
  border: 2px solid #3a2e27;
  color: #3a2e27;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 12px 36px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.saznaj-vise-dugme:hover {
  background-image: linear-gradient(135deg, #8b5e34, #a66f3e, #c98a3d);
  transform: translateY(-2px);
  color: #f8f5ef;
  border-color: transparent;
}


/*  SEKCIJA */

/*  SEKCIJA */

/*  SEKCIJA */
